$white: #ffffff;
$background1: rgba(116, 76, 157, 0.2);
$headerBg: #141414;
$gradient1: linear-gradient(180deg, rgba(0, 0, 0, 0) 52.6%, #000000 89.16%);
$color2: rgba(194, 194, 194, 1);
$cta: rgba(44, 0, 81, 1);
@mixin flex($justify, $align) {
	display: flex;
	align-items: $align;
	justify-content: $justify;
}

@mixin default {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@mixin container {
	width: 100%;
	height: auto;
	max-width: 1164px;
	margin-inline: auto;
}

.App {
	width: 100%;
	height: auto;
}
