@import "./_global.scss";

.footer {
	height: auto;
	background: $footerBg;
	padding: 50px 0;
}
.footer__container {
	@include container;
	@include flex(space-between, center);
	color: $white;
	font-size: 24px;
	height: 100%;
	flex-direction: column;
	gap: 20px;
	h3 {
		text-transform: uppercase;
		font-size: 20px;
		color: $white;
	}
	.footer__navigation {
		width: 25%;
		min-width: 150px;
		@include flex(space-between, center);

		a {
			color: $white;
			font-size: 14px;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.footer__socials {
		width: 140px;
		@include flex(space-between, center);
		color: $white !important;
		svg {
			font-size: 24px;
			color: $white !important;
			&:hover {
				cursor: pointer;
			}
			&:nth-child(2) {
				font-size: 20px;
			}
		}
	}
	p {
		font-weight: 300;
		font-size: 16px;
		color: $white;
	}
}
