@import "./_global.scss";

.header {
	height: 70px;
	position: fixed;
	left: 0;
	z-index: 10;
	right: 0;
	background: linear-gradient(0deg, rgba(116, 76, 157, 0.15), rgba(116, 76, 157, 0.15)), #141414;
	top: 0;
}

.header__container {
	@include container;
	@include flex(space-between, center);

	padding: 0 20px;
	color: $white;
	font-size: 24px;
	height: 100%;
}

.header__navigation {
	width: 30%;
	min-width: 200px;
	height: 70%;
	@include flex(space-between, center);

	a {
		color: $white;
		font-size: 16px;
		&:hover {
			text-decoration: underline;
		}
	}
}
